@page "/admin/rooms"

<h3>Display All Rooms</h3>




@code {


    class RoomDetails
    {
        int RoomNumber { get; set; }
        int Capacity;
        decimal PricePerNight;
    }

    List<RoomDetails> rooms = new List<RoomDetails>();



}
