@using Application.Rooms.Commands;
@using Client.Components;
@inject HttpClient http

@page "/admin/rooms"

<h3>Rooms</h3>

<RoomComponent Rooms="rooms"/>

<p>@message</p>

@code {
    List<RoomDto>? rooms = new List<RoomDto>();

    private string message = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            rooms = await http.GetFromJsonAsync<List<RoomDto>>("api/rooms")
                    ?? new List<RoomDto>();
            
            message = "Room created successfully!";
        }
        catch (Exception ex)
        {
            message = $"Error: {ex.Message}";
        }
    }
}
