@using Client.Models;
@using Client.Components;

@page "/admin/rooms"

<h3>Rooms</h3>
@if (rooms != null)
{
    <RoomComponent Rooms="rooms"/>
}


@code {
    List<RoomDto>? rooms = new List<RoomDto>();



    // override protected Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender)
    //     {
    //         rooms = await 
    //     }
    // }
}
