@using Application.Rooms.Commands;

<div class="rooms-grid">
    @if (Rooms != null)
    {
        foreach (var room in Rooms)
        {
            <div class="room-card">
                <a href="RoomDetails">@room.Number</a>
                <p>Capacity: @room.Capacity</p>
                <p>Price per Night: $@room.PricePerNight</p>

                @if (room.IsAvailable)
                {
                    <p>Available</p>
                }
            </div>
        }
    }
    else
    {
        <p>No rooms available.</p>
    }
</div>

@code {
    [Parameter]
    public List<RoomDto> Rooms { get; set; }
}
