@using Client.Models

<div class="rooms-grid">
    @if (Rooms != null)
    {
        foreach (var room in Rooms)
        {
            <a href="/room-details/@room.Id">
                <div class="room-card">
                    <h4>@room.Number</h4>
                    <p>Room ID: @room.Id</p>
                    <p>Capacity: @room.Capacity</p>
                    <p>Price per Night: $@room.PricePerNight</p>

                    @if (room.IsAvailable)
                    {
                        <p>Available</p>
                    }
                </div>
            </a>
        }
    }
    else
    {
        <p>No rooms available.</p>
    }
</div>

@code {
    [Parameter]
    public List<RoomDto> Rooms { get; set; }
}
